table {
    width: 100%;
}
.case-study th, td {
    text-align: right;
}
.case-study td.l {
    text-align: left;
}
.sidebar-nav-item {
    line-height: 1.4rem;
    font-size: 1rem:
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
