table {
    width: 100%;
}
.case-study th, td {
    text-align: right;
}
.case-study td.l {
    text-align: left;
}
.sidebar-nav-item {
    line-height: 1.4rem;
    font-size: 1rem:
}
.sidebar {
    background-color: #f1f1f1;
    /* background-color: #343f4f; */
    /* background-color: #509be8; */
    color: #313739;
    padding-top: 1.5rem;
}
.sidebar a {
    color: #313739;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
